<!DOCTYPE html>
<html>
  <head>
    <title>Analyst in Action</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Analyst in Action</h1>
    <p>This is my new website.</p>
    <p><a href="/blog.html">Read the blog</a></p>
  </body>
</html>

