<nav class="main-nav">
  <div class="nav-links">
    <a href="/">HOME</a>
    <a href="/blog/">BLOG</a>
    <a href="/start-here/">START HERE</a>
    <a href="/about/">ABOUT</a>
    <a href="/contact/">CONTACT</a>
  </div>
</nav>