{# Inline search bar for Blog page #}

<link rel="stylesheet" href="/pagefind/pagefind-ui.css">

<div class="inline-search">
  <div id="pagefind-search" class="pagefind-search"></div>
</div>

<script src="/pagefind/pagefind-ui.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({
      element: "#pagefind-search",
      showSubResults: true,
      resetStyles: false,
      translations: {
        placeholder: "Search posts..."
      }
    });
  });
</script>