<div class="subscribe-card">
  <div class="subscribe-header">
    <h3>Subscribe</h3>
    <p>One practical Power BI tip per week. No spam.</p>
  </div>

  <form class="subscribe-form ml-block-form"
        action="https://assets.mailerlite.com/jsonp/2001560/forms/174773771355293310/subscribe"
        method="post"
        target="_blank">

    <input class="subscribe-input"
           type="email"
           name="fields[email]"
           placeholder="Email address"
           autocomplete="email"
           required>

    <button class="subscribe-button" type="submit">Subscribe</button>

    <input type="hidden" name="ml-submit" value="1">
    <input type="hidden" name="anticsrf" value="true">
  </form>
</div>

<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v95037e5bac78f29ed026832ca21a7c7b" type="text/javascript"></script>
<script>
  fetch("https://assets.mailerlite.com/jsonp/2001560/forms/174773771355293310/takel")
</script>